html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.verse-wrapper {
  max-width: 600px; 
  width: 100%;
  text-align: center;
  padding: 0 40px;
}

.user-icon {
  position: absolute;
  right: 20px;
  font-size: 3rem;
  color: #e2c100;
  cursor: pointer;
}

  
.separator {
  width: 97%;
  border: 0;
  border-top: 1px solid #000000;
  margin-top: 10px;
}



  @media (max-width: 768px) {
    .search-bar-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    
    }
  
    .search-bar-container input {
        width: 70%;
        margin-right: 5px;
        font-family: 'Poppins', sans-serif;
        font-size: 0.6rem;
        border-radius: 20px;
        padding: 12px;
        background-color: #e6e6e6;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border:none;
        transition: all 0.3s ease;
        padding-left: 35px;
    }

    .saiba-mais-button {
        width: 40%;
        font-size: 0.8rem;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        padding: 5px;
        
    }
  
    .user-icon {
        width: 25%;
        text-align: center;
        font-size: 2.7rem;
        color: #333e54;
    }

    .category {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 18px;
      font-weight: bold;
      justify-content: flex-start;
      align-self: flex-start;
      margin-top: 10px;
    }

    .category-icon {
      color: #e2c100;
      font-size: 1.5rem;
    }

    .new-section {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 18px;
      font-weight: bold;
      justify-content: flex-start;
      align-self: flex-start;
      margin-top: 10px;
    }

    .new-icon {
      width: 30px;
    }

    .new-products-carousel {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow: hidden;
      gap: 10px;
      justify-content: flex-start;
      margin-top: 20px;
    }
  
    .new-card {
      width: 150px;
      height: 230px;
      border: 2px solid #e2c100;
      border-radius: 10px;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      transition: transform 0.2s;
    }
  
  }

  html, body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  